body{
    padding:0;
    margin: 0;
}

.dark{
    background-color: #000000;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 19px;
}

.navbar a:hover{
    color: rgb(25, 216, 25);
    text-decoration: none;
}

.navbar-brand:hover{
    color: white !important;
}

.navbar-brand{
    font-size: 25px !important;
}

.card {
    border: 1px solid black !important;
    overflow: hidden;
    box-shadow: 0 5px 5px -5px black;
}

.card .card-img-top{
    border-bottom: 1px solid black;
}

#login{
    width: 400px;
    height: auto;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#login input{
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}


#login input[type="submit"]{
    width: 100%;
    display: block;
    border: 2px solid black;
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 5px;
    font-size: 20px;
    transition: .4s ease;
}

#login input[type="submit"]:hover{
    background-color: rgb(39, 43, 39);;
    transition: .4s ease;

}

#login label{
    font-size: 26px;
}

#login a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

#login a:hover{
    color: rgb(3, 185, 3);
    text-decoration: none;
}


.redborder{
    border: 2px solid red !important;
}

.redmsg{
    color: red !important;
}
.greenmsg{
    color: green !important;
}

.nav-item .dropdown-menu a{
     color: black !important;
}

.navbar-nav{
    padding-right: 100px;
}


.wrapper{
    width: 200px;
    height: 100%;
    background-color: black;
    position: absolute;
    top:9%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper button{
    margin-bottom: 20px;
    width: 150px;
    height: auto;
    padding: 5px;
}

.content{
    width: calc(100% - 200px);
    height: 100%;
    position: absolute;
    top:9%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    font-size: 20px;
    color: black;
}


.wrapperforitems{
    width: 100%;
    height: 100%;
}

.wrapperforitems h1{
    text-align: center;
}

.btn-holder button{
    width: 100px;
    padding: 5px;
    font-size: 15px;
}

.btn-holder button:nth-child(1){
    margin-left: 60%;
}

* table{
    text-align: center;
}

.allmsg{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    height: auto;
    background-color: #fff;
    box-shadow: 0 5px 5px -5px black;
    z-index: 6;
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}
.allmsgbg{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000e7;
    z-index: 5;
}

.allmsg span{
    cursor: pointer;
    z-index: 7;
}

#form input,select{
    width: 100%;
    font-size: 20px;
    color: black;
    outline: none;
    background: none;
    border:none;
    border-bottom: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

#form .image{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid black;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#form input[type="file"]{
    border: none;
}

#form h1{
    margin-bottom: 15px;
}

.card-body{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

.card-title{
    font-weight: bold;
}

.card-body a{
    width: 200px;
    padding: 5px;
}

.proimg{
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    border-radius: 15px;
    overflow: hidden;
    background-position: center center;
}

.productdetails{
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    text-transform: capitalize;
}